<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="content-type" content="text/html; charset=utf-8">-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <title>{{webpage_title}}</title>
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
    <style type="text/css">
    p.p2 {margin: 0.0px 0.0px 12.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #0000e9; -webkit-text-stroke: #0000e9}
    span.s1 {font-kerning: none}
    span.s2 {text-decoration: underline ; font-kerning: none}
    </style>
  </head>
  <body>
    <h3><a style="text-decoration:none" href="https://florian-dataincubator-project.herokuapp.com">&emsp;&emsp;Home</a></h3>
    <p></p>
    {{ plot_div|indent(4)|safe }}
  </body>
</html>